/* Styling for Homepage Buttons */

#createBtn {
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
    width: 240px;
    background: #86a8ee;
    border-radius: 100px;
    border: none;
    padding: 10px 30px;
    text-decoration: none;
    font-size: 1em;
    cursor: pointer;
    float: right;
    margin: 10px;
    text-align: center;
    position: absolute;
    top: 0px;
    right: 0px;
}

#createBtn:hover {
    background: rgb(109, 152, 238);
}

#createBtn:active {
    background: rgba(109, 152, 238, 0.6);
}

.tableBtn {
    background: #86a8ee;
    border: none;
    border-radius: 999px;
    padding: 10px 10px;
    text-decoration: none;
    margin: 5px;
    text-align: center;
}

.tableBtn:hover {
    background: rgb(109, 152, 238);
}

.tableBtn:active {
    background: rgba(109, 152, 238, 0.6);
}

.tableBtn.caution {
    background: #e57878;
}

.tableBtn.caution:hover {
    background: rgb(231, 100, 100);
}

.tableBtn.caution.active {
    background: rgba(231, 100, 100, 0.6);
}
