/* Styling for Buttons */

.sideBtn.button {
    position: absolute;
    left: -80px;
    transition: 0.3s;
    padding: 15px;
    width: 100px;
    text-decoration: none;
    font-size: 20px;
    color: white;
    border-radius: 0 5px 5px 0;
    font-family: 'Noto Sans', sans-serif;
    cursor: pointer;
    box-shadow: -1px 3px 3px 0 rgba(80, 80, 80, .2);
    margin: 0 10px 40px;
    flex: 0 0 auto;
}

.sideBtn.button:hover {
    left: 0;
    background-color: #4caf50;
    color: white;
}

#editBtn {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background: #76B3FA;
    border-radius: 100px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: all 0.16s ease-in;
    cursor: pointer;
}

#editBtn:hover {
    background-color: #e5e5e5;
    color: #76B3FA;
    box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
}

#createBtn {
    font-family: 'Montserrat', Helvetica, sans-serif;
    background: #76B3FA;
    border-radius: 100px;
    padding: 10px 30px;
    color: #fff;
    text-decoration: none;
    font-size: 1em;
    transition: all 0.16s ease-in;
    cursor: pointer;
    text-align: right;
}

#createBtn:hover {
    background-color: #e5e5e5;
    color: #76B3FA;
    box-shadow: 0 0 0 1px rgba(80, 80, 80, .5);
}
