@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);

/* Font for table */
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100&display=swap");

:root {
    /* Color Pallette : Use as var(var_name) */
    /* General */
    --primary-btn: #86a8ee;
    --primary-btn-hover: rgb(109, 152, 238);
    --primary-btn-active: rgba(109, 152, 238, 0.6);

    --caution-btn: #e57878;
    --caution-btn-hover: rgb(231, 100, 100);
    --caution-btn-active: rgba(231, 100, 100, 0.6);

    /* Light Mode */

    /* basic */
    --l-bg: white; /* background color */
    --l-tx: #697089; /* text color */
    --l-s: #d9d9d9; /* color for shadow */

    /* star for rating*/
    --l-star-s: #d1d5db; /* shadow color for star */
    --l-star-c: #f69b12; /* star color */

    /* gray */
    --l-gray-tx: #303651; /* color for lable's text */
    --l-gray-bg: #f4f6f9; /* color for lable */
    /* red */
    --l-red-tx: #d30b53;
    --l-red-bg: #fee5ee;
    /* green */
    --l-green-tx: #278500;
    --l-green-bg: #eef6e9;
    /* orange */
    --l-orange-tx: #b94f00;
    --l-orange-bg: #fff3e8;

    /* button */
    --l-button-tx: #303651; /* color for button's text */
    --l-blue-bg: #86a8ee; /* color for button */
    --l-olive-bg: #88c06c;

    /* Dark Mode */
    /* basic */
    --d-bg: #002337; /* background color */
    --d-tx: #e6e8f0; /* text color */
    --d-s: #d9d9d9; /* color for shadow */

    /* star for rating*/
    --d-star-s: #989eb3; /* shadow color for star */
    --d-star-c: #ffe600; /* star color */

    /* gray */
    --d-gray-tx: #c7cbd8; /* color for lable's text */
    --d-gray-bg: #4a516d; /* color for lable */
    /* red */
    --d-red-tx: #fee5ee;
    --d-red-bg: #9c083e;
    /* green */
    --d-green-tx: #278500;
    --d-green-bg: #eef6e9;
    /* orange */
    --d-orange-tx: #fff3e8;
    --d-orange-bg: #d86900;

    /* button */
    --d-button-tx: #1c2035; /* color for button's text */
    --d-light-bg: #c7cbd8; /* color for button */
    --d-dark-bg: #303651;
}

/* * {
    margin: 0;
} */

body {
    /* dark mode */
    background-color: var(--l-bg);
    font-family: "Inter", sans-serif;
}

#teamHead {
    font-family: "Sofia", sans-serif;
    color: var(--l-tx);
    text-align: center;
    margin-top: 0;
}
