/* Modal box and content */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding-top: 40px;
    overflow: auto;
    background-color: rgb(0, 0, 0, 0.4);
}

.modal-content {
    position: relative;
    background-color: #eeeeee;
    margin: auto; /* 15% from the top and centered */
    padding: 40px 30px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0;
    }
    to {
        top: 0;
        opacity: 1;
    }
}

/* Form content */
#entry-form div {
    margin-bottom: 30px;
}

#entry-form div label {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #303651;
    display: inline-block;
    width: 40%;
}

#entry-form div input:not([type="submit"]),
#entry-form div textarea {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #d9d9d9;
    border-radius: 8px;
    border: none;
    padding: 15px;
    width: auto;
}

#entry-form div input:not([type="submit"]):focus,
#entry-form div textarea:focus {
    outline: none;
    font-weight: 600;
}

#entry-form div select,
#entry-form div textarea {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #d9d9d9;
    border-radius: 8px;
    border: none;
    padding: 15px;
    width: auto;
}

#entry-form div select:focus,
#entry-form div textarea:focus {
    outline: none;
    font-weight: 600;
}

#entry-form div.form-buttons {
    display: flex;
    justify-content: space-between;
}

#entry-form div.form-buttons input,
#entry-form div.form-buttons button {
    border: none;
    background: #86a8ee;
    border-radius: 999px;
    width: 40%;
    height: 30px;
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#entry-form div.form-buttons input:hover,
#entry-form div.form-buttons button:hover {
    background: rgb(109, 152, 238);
}

#entry-form div.form-buttons input:active,
#entry-form div.form-buttons button:active {
    background: rgba(109, 152, 238, 0.6);
}

#entry-form div.form-buttons input.caution,
#entry-form div.form-buttons button.caution {
    background: #e57878;
}

#entry-form div.form-buttons input.caution:hover,
#entry-form div.form-buttons button.caution:hover {
    background: rgb(231, 100, 100);
}

#entry-form div.form-buttons input.caution:active,
#entry-form div.form-buttons button.caution:active {
    background: rgba(231, 100, 100, 0.6);
}

/* Edit form content */
#edit-form div {
    margin-bottom: 30px;
}

#edit-form div label {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    color: #303651;
    display: inline-block;
    width: 40%;
}

#edit-form div input:not([type="submit"]),
#edit-form div textarea {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #d9d9d9;
    border-radius: 8px;
    border: none;
    padding: 15px;
    width: auto;
}

#edit-form div input:not([type="submit"]):focus,
#edit-form div textarea:focus {
    outline: none;
    font-weight: 600;
}

#edit-form div select,
#edit-form div textarea {
    font-family: "Inter";
    font-style: normal;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    background: #d9d9d9;
    border-radius: 8px;
    border: none;
    padding: 15px;
    width: auto;
}

#edit-form div select:focus,
#edit-form div textarea:focus {
    outline: none;
    font-weight: 600;
}

#edit-form div.form-buttons {
    display: flex;
    justify-content: space-between;
}

#edit-form div.form-buttons input,
#edit-form div.form-buttons button {
    border: none;
    background: #86a8ee;
    border-radius: 999px;
    width: 40%;
    height: 30px;
    font-family: "Inter";
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 0.1em;
}

#edit-form div.form-buttons input:hover,
#edit-form div.form-buttons button:hover {
    background: rgb(109, 152, 238);
}

#edit-form div.form-buttons input:active,
#edit-form div.form-buttons button:active {
    background: rgba(109, 152, 238, 0.6);
}

#edit-form div.form-buttons input.caution,
#edit-form div.form-buttons button.caution {
    background: #e57878;
}

#edit-form div.form-buttons input.caution:hover,
#edit-form div.form-buttons button.caution:hover {
    background: rgb(231, 100, 100);
}

#edit-form div.form-buttons input.caution:active,
#edit-form div.form-buttons button.caution:active {
    background: rgba(231, 100, 100, 0.6);
}
