/* Styling for Table */
#spreadsheet {
    border: 1px solid;
    text-align: left;
    position: relative;
    background-color: #f6f6f6;
    color: #697089;
    margin-left: 75px;
    width: 95%;
}
#companyName {
    text-align: left;
    position: relative;
    /* background-color: #f6f6f6; */
    /* font-weight: 600; */
    color: #697089;
    width: 15%;
}
#Position {
    text-align: left;
    position: relative;
    /* background-color: #f6f6f6; */
    /* font-weight: 600; */
    color: #697089;
    width: 15%;
}
#Location {
    text-align: left;
    position: relative;
    /* background-color: #f6f6f6; */
    /* font-weight: 600; */
    color: #697089;
    width: 15%;
}
#Industry {
    text-align: left;
    position: relative;
    /* background-color: #f6f6f6; */
    /* font-weight: 600; */
    color: #697089;
    width: 15%;
}
#Status {
    text-align: left;
    position: relative;
    /* background-color: #f6f6f6; */
    /* font-weight: 600; */
    color: #697089;
    width: 15%;
}
#Ranking {
    text-align: left;
    position: relative;
    /* background-color: #f6f6f6; */
    /* font-weight: 600; */
    color: #697089;
    width: 15%;
}
#Deadline {
    text-align: left;
    position: relative;
    /* background-color: #f6f6f6; */
    /* font-weight: 600; */
    color: #697089;
    width: 15%;
}
/* all sortable table heads */
th.sortable {
    position: relative;
    cursor: pointer;
}

th.sortable::after {
    font-family: FontAwesome;
    content: "\25c6";
    position: absolute;
    right: 8px;
    color: #999;
}

/* table heads in ascending order */
th.sortable.asc::after {
    content: "\25b2";
}
/* table heads in descending order */
th.sortable.desc::after {
    content: "\25bc";
}
/* table icon when hover */
th.sortable:hover::after {
    color: #333;
}
.company_name {
    font-weight: bold;
    color: #303651;
}
.position_name {
    color: #303651;
}
.location_name,
.industry_name {
    font-weight: bold;
    text-align: center;
    color: #303651;
}
.ranking_value {
    color: #303651;
}
.deadline_date {
    color: #303651;
}
.applied {
    word-wrap: normal;
    border-radius: 50%;
    font-weight: bold;
    background: #eef6e9;
    color: #278500;
    text-align: center;
}
.in_progress {
    word-wrap: normal;
    border-radius: 50%;
    font-weight: bold;
    color: #b94f00;
    background: #fff3e8;
    text-align: center;
}
.not_started {
    word-wrap: normal;
    border-radius: 50%;
    font-weight: bold;
    color: #d30b53;
    background: #fee5ee;
    text-align: center;
}
